.intro {
  margin-bottom: 8em;
  .wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__automation {
  }

  &__title {
    margin: 0;
    font-weight: 400;
    font-family: $second-family;
    font-size: 3.86em;
    line-height: 1.1;
    letter-spacing: 0em;
    color: #1f1f1f;
    max-width: 8.5em;
    margin-bottom: 0.36em;
  }

  &__desc {
    margin: 0;
    font-size: 1.33em; //19.95
    line-height: 1.5;
    letter-spacing: 0.01em;
    color: #1f1f1f;
    max-width: 18.6em;
    margin-bottom: 1.6em;
  }

  .btns {
    gap: 1.6em;

    &__demo {
      padding: 0.53em 2.13em;
      transition: all 0.3s ease;

      &:hover {
        background: rgb(54, 188, 250);
        color: #054b69;
      }
    }

    &__learn-more {
      position: relative;
      transition: all 0.3s ease;

      &:hover {
        color: #1b5863;
      }

      &::after {
        content: '';
        background-image: url('../images/about.svg');
        position: absolute;
        width: 0.933333em;
        height: 1.4em;
        right: -20px;
        bottom: 0;
        background-size: cover;
      }
    }
  }
}

@media screen and (max-width: 980px) {
  body {
    font-size: 11px;
  }
}

@media screen and (max-width: 690px) {
  .intro {
    margin-bottom: 4em;
    .wrap {
      flex-direction: column;
      gap: 0.8em;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
}
